body {
  background-color: black;
  --blur-radius: 4px; /* not used. using inline styles in App.jsx */
}

.inputs {
  color: gray;
}

.creeping-line {
  display: flex;
  flex-direction: column;
  justify-content: center;

  filter: blur(4px) brightness(2) saturate(2);
  mix-blend-mode: screen;
  width: 100%;
  height: 100vh;
}
.grid-overlay {
  position: fixed;
  top: 0;

  left: 0;
  width: 100%;
  height: 100%;
  background-image:
          linear-gradient(rgba(0, 0, 0, 0.8) 2px, transparent 1px),
          linear-gradient(90deg, rgba(0, 0, 0, 0.8) 2px, transparent 1px);
  background-size: 10px 10px;
  pointer-events: none;
  z-index: 9999;
}


@font-face {
  font-family: 'BUSE-Letters'; /*a name to be used later*/
  src: url("assets/fonts/BUSE letters 16x8/buse.otf"); /*URL to font*/
}

@font-face {
  font-family: 'PacManSenior-Regular'; /*a name to be used later*/
  src: url("src/assets/fonts/PacManSenior/PacManSenior-Regular.otf"); /*URL to font*/
}
