:root {
  --base-color: black;
  --grid-size: 10px;
}

body {
  background-color: var(--base-color, black);
}

input {
  color: gray;
  background-color: black;
}
button {
  color: gray;
  background-color: black;
}

.creeping-line {
  display: flex;
  flex-direction: column;
  justify-content: center;

  filter: brightness(2.5) saturate(2);
  mix-blend-mode: screen;
  width: 100%;
  height: 100vh;
}



@font-face {
  font-family: 'BUSE-Letters'; /*a name to be used later*/
  src: url("assets/fonts/BUSE letters 16x8/buse.otf"); /*URL to font*/
}

@font-face {
  font-family: 'PacManSenior-Regular'; /*a name to be used later*/
  src: url("assets/fonts/PacManSenior/PacManSenior-Regular.otf"); /*URL to font*/
}

.grid-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(var(--base-color) 2px, transparent 1px),
    linear-gradient(90deg, var(--base-color) 2px, transparent 1px);
  background-size: var(--grid-size, 10px) var(--grid-size, 10px);
  pointer-events: none;
  z-index: 999;
}